<div class="row">
    <div class="col-12 text-center" id="header">
        <img id="burger-img" src="./assets/img/burger.png">
        <!-- <h2 id="head-h2">Scrapy Home</h2> -->
    </div>
</div>
<div class="row">
    <div class="col-12" id="burgers-uneaten">
        {{#if article}} {{#each article}}
        <div class="row">
            <div class="col-8">
                <div class="card">
                    <div class="change-devoured card-body" data-id="{{this.id}}">
                        <p id="headline"> {{math @index "+" 1}}. {{headline}}</p>
                        <p id="author">{{author}} {{relDate}}</p>
                        <p>{{summary}} <a href={{link}} target="_blank">Read Article</a></p>
                    </div>
                </div>
            </div>
            <div class="col-4 center outer">
                <button type="button" class="btn btn-outline-dark savearticle" data-id="{{this.id}}">
                    Save Article!
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        {{else}} {{/each}} {{else}}
        <div>
            <h2>Scrape the Cleveland Food Scene News!</h2>
            <button type="button" class="btn btn-outline-dark scrapearticle" data-id="{{this.id}}">
                Get Yo Scrape On!
                <i class="fa fa-cutlery" aria-hidden="true"></i>
            </button>
        </div>
        {{/if}}
    </div>
</div>
<div class="col-4">
</div>
</div>