<div class="row">
    <div class="col-12 text-center" id="header">
        <img id="burger-img" src="./assets/img/burger.png">

        <h2 id="head-h2">Scrapy Saved Articles</h2>
    </div>
</div>
<div class="row">
    <div class="col-12" id="articles-saved">

        {{#each article}}
        <div class="row">
          <!--   <div class="col-8">
                <div class="card">
                    <div class="card-body" data-id="{{this.id}}"> 

                    {{math @index "+" 1}}. {{headline}} </div>

                </div>
            </div> -->
               <div class="col-8">
                <div class="card">
                    <div class="change-devoured card-body" data-id="{{this.id}}">
                        <p id="headline"> {{math @index "+" 1}}. {{headline}}</p>
                        <p id="author">{{author}} {{relDate}}</p>
                        <p>{{summary}} <a href={ {link}} target="_blank">Read Article</a></p>
                    </div>
                </div>
            </div>

            <div class="col-4 center">
                <button type="button" class="btn btn-outline-dark view-notes" data-id="{{this.id}}">
                    Article Notes
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </button>
                  <button type="button" class="btn btn-outline-dark delete-saved-article" data-id="{{this.id}}">
                    Delete From Saved
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                </button>
            </div>
        </div>
      {{/each}}
    </div>


</div>
    <div class="col-4">
    </div>

</div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content  login log">
                <div class="modal-header">
                    <h5 class="modal-title" id="note-title"></h5>
                    <button type="button" class="close login log" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="create-form" id="myForm">
                     <!--    <div class="form-group">
                            <input type="text" class="form-control" required="true" id="blog-title" placeholder="Title of your blog">
                        </div> -->
                        <div class="form-group">
                            <textarea class="form-control" id="note-content" name="note-content" rows="6" placeholder="New Note" required="true" autofocus></textarea>
                            <button class="btn btn-outline-dark" id="add-note" type="submit">New Note
                                <i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </form>
                  <!--   <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
                        <input type="file" name="imgUploader" multiple />
                        <input type="submit" name="submit" id="btnSubmit" value="Upload" />
                    </form> -->
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- edit modal -->

